<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<listener>
		<listener-class>com.incidences.ApiKeyInitializer</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>RedirectJspServlet</servlet-name>
		<servlet-class>com.incidences.RedirectJspServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectJspServlet</servlet-name>
		<url-pattern>/gojsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.incidences.RegisterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UnregisterServlet</servlet-name>
		<servlet-class>com.incidences.UnregisterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnregisterServlet</servlet-name>
		<url-pattern>/unregister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendAllMessagesServlet</servlet-name>
		<servlet-class>com.incidences.SendAllMessagesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendAllMessagesServlet</servlet-name>
		<url-pattern>/sendAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.incidences.HomeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DevicesServlet</servlet-name>
		<servlet-class>com.incidences.DevicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevicesServlet</servlet-name>
		<url-pattern>/devices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IncidencesListServlet</servlet-name>
		<servlet-class>com.incidences.IncidencesListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IncidencesListServlet</servlet-name>
		<url-pattern>/incidences</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SendMessageServlet</servlet-name>
		<servlet-class>com.incidences.SendMessageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SendMessageServlet</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>CreateIncidenceServlet</servlet-name>
		<servlet-class>com.incidences.CreateIncidenceServlet</servlet-class>	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>CreateIncidenceServlet</servlet-name>
	    <url-pattern>/createIncidence</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>DeleteIncidenceServlet</servlet-name>
		<servlet-class>com.incidences.DeleteIncidenceServlet</servlet-class>	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeleteIncidenceServlet</servlet-name>
	    <url-pattern>/deleteIncidence</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>IncidencesListJsonServlet</servlet-name>
		<servlet-class>com.incidences.IncidencesListJsonServlet</servlet-class>	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>IncidencesListJsonServlet</servlet-name>
	    <url-pattern>/incidencesJson</url-pattern>
	</servlet-mapping>
</web-app>
